# coding: utf-8
"""Waylay Function Registry api.

This code was generated from the OpenAPI documentation of 'Waylay Function Registry'

Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from __future__ import annotations  # for Python 3.7–3.9

from pydantic import StrictBool, TypeAdapter, ConfigDict
from typing import (
    Dict,
    Literal,
    Optional,
    Union,
    Any,
    overload,
    TYPE_CHECKING,
)

from waylay.sdk.plugin import WithApiClient
from waylay.sdk.api import (
    Response,
    HeaderTypes,
    QueryParamTypes,
)
from waylay.sdk.api._models import Model

if TYPE_CHECKING:
    from waylay.services.registry.queries.default_api import GetQuery

    from waylay.services.registry.models import RootPageResponse

    from waylay.services.registry.models import RootPageResponse


try:
    from waylay.services.registry.queries.default_api import GetQuery

    from waylay.services.registry.models import RootPageResponse

    from waylay.services.registry.models import RootPageResponse

    types_available = True
except ImportError:
    types_available = False

    if not TYPE_CHECKING:
        GetQuery = dict

        RootPageResponse = Model

        RootPageResponse = Model


StringAdapter = TypeAdapter(str, config=ConfigDict(coerce_numbers_to_str=True))


class DefaultApi(WithApiClient):
    """DefaultApi service methods.

    NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    @overload
    async def get(
        self,
        *,
        query: Optional[Union[GetQuery, QueryParamTypes]] = None,
        raw_response: Literal[False] = False,
        select_path: Literal[""],
        headers: Optional[HeaderTypes] = None,
        **kwargs,
    ) -> RootPageResponse: ...

    @overload
    async def get(
        self,
        *,
        query: Optional[Union[GetQuery, QueryParamTypes]] = None,
        raw_response: Literal[True],
        select_path: Literal["_not_used_"] = "_not_used_",
        headers: Optional[HeaderTypes] = None,
        **kwargs,
    ) -> Response: ...

    # @validate_call
    async def get(
        self,
        *,
        query: Optional[Union[GetQuery, QueryParamTypes]] = None,
        raw_response: StrictBool = False,
        select_path: str = "",
        headers: Optional[HeaderTypes] = None,
        **kwargs,
    ) -> Union[RootPageResponse, Response, Model]:
        """Version.

        Get the version of this function registry deployment.
        :param query: URL Query parameters.
        :type query: GetQuery | QueryParamTypes, optional
        :param raw_response: If true, return the http Response object instead of returning an api model object, or throwing an ApiError.
        :param select_path: Denotes the json path applied to the response object before returning it.
                Set it to the empty string `""` to receive the full response object.
        :param headers: Header parameters for this request
        :type headers: dict, optional
        :param `**kwargs`: Additional parameters passed on to the http client.
            See below.
        :Keyword Arguments:
            * timeout: a single numeric timeout in seconds,
                or a tuple of _connect_, _read_, _write_ and _pool_ timeouts.
            * stream: if true, the response will be in streaming mode
            * cookies
            * extensions
            * auth
            * follow_redirects: bool

        :return: Returns the result object if the http request succeeded with status code '2XX'.
        :raises APIError: If the http request has a status code different from `2XX`. This
            object wraps both the http Response and any parsed data.
        """

        # set aside send args
        send_args = {}
        for key in ["stream", "follow_redirects", "auth"]:
            if key in kwargs:
                send_args[key] = kwargs.pop(key)
        # path parameters
        path_params: Dict[str, str] = {}

        ## named body parameters
        body_args: Dict[str, Any] = {}

        ## create httpx.Request
        api_request = self.api_client.build_request(
            method="GET",
            resource_path="/registry/v2/",
            path_params=path_params,
            params=query,
            **body_args,
            headers=headers,
            **kwargs,
        )

        ## initiate http request
        response = await self.api_client.send(api_request, **send_args)

        ## render response
        if raw_response:
            return response
        response_types_map: Dict[str, Optional[Union[str, Any]]] = {
            "*": RootPageResponse if not select_path else Model,
        }
        stream = send_args.get("stream", False)
        return self.api_client.response_deserialize(
            response, response_types_map, select_path, stream=stream
        )
